<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="LineStatisticsDialog">
		<title>代码统计工具</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>代码类文档行数统计：</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer4" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>总量：</label>
							<fg>#0000FF</fg>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_LBALL" variable="lbAll" member="yes">
							<label>0</label>
							<fg>#0000FF</fg>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer5" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>注释：</label>
							<fg>#008000</fg>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_LBNOTE" variable="lbRem" member="yes">
							<label>0</label>
							<fg>#008000</fg>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>空行：</label>
							<fg>#808080</fg>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_LBSPACE" variable="lbSpace" member="yes">
							<label>0</label>
							<fg>#808080</fg>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer6" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label>项目目录：</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTFILE" variable="txtFile" member="yes">
							<size>140,22</size>
							<style>wxTE_READONLY</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTNSELFILE" variable="btnSelFile" member="yes">
							<label>...</label>
							<size>30,24</size>
							<handler function="OnbtnSelFileClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer8" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_TXTSTATU" variable="lbStatu" member="yes">
							<label></label>
							<fg>#808080</fg>
						</object>
						<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>10</border>
					</object>
					<object class="sizeritem">
						<object class="wxGauge" name="ID_PROGJOB" variable="progJob" member="yes">
							<size>100,15</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer7" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTNCOUNT" variable="btnCount" member="yes">
							<label>执行统计</label>
							<handler function="OnbtnCountClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMessageDialog" name="ID_MESSAGEDIALOG1" variable="MessageDialog1" member="yes">
			<caption>Message</caption>
			<message></message>
		</object>
		<object class="wxDirDialog" variable="DirDialog1" member="yes">
			<message>Select directory</message>
		</object>
	</object>
</wxsmith>
